@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");

$color-primario: hsl(322, 100%, 66%);
$color-secundario: hsl(208, 11%, 55%);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn-try {
  font-family: "Poppins", sans-serif;
  &:hover {
    color: $color-secundario;
  }
}

.btn-started {
  background-color: $color-primario;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: lighten($color-primario, 20%);
  }
}

.bg-mobile {
  background-image: url("/img/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  position: relative;
  padding-top: 100px;
  top: -100px;
}

.card-mobile {
  border: 0;
  p {
    color: $color-secundario;
  }
}

.card-mobile2 {
  border: 0;
  position: relative;
  top: 120px;
}

footer {
  background-color: hsl(192, 100%, 9%);
  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
}

.footer-copy {
  font-size: 16px;
}

.footer-mobile {
  padding-top: 150px;
}

.social-icon {
  margin-right: 10px;
  width: 40px;
}

nav {
  z-index: 1;
}
